.textarea,
.input {
  width: 100%;
  max-width: 100%;
  box-shadow: none;
}

.select select,
.textarea,
.input {
  background-color: white;
  border-color: $border-color;
  border-radius: $border-radius;
  color: $font-color;
  transition: $transition;
  font-size: $font-size;
}

.select select:hover,
.textarea:hover,
.input:hover,
.select select.is-hovered,
.is-hovered.textarea,
.is-hovered.input {
  transition: $transition;
  border-color: $border-color-dark;
}

.select select:focus,
.textarea:focus,
.input:focus,
.select select.is-focused,
.is-focused.textarea,
.is-focused.input,
.select select:active,
.textarea:active,
.input:active,
.select select.is-active,
.is-active.textarea,
.is-active.input {
  border-color: $border-color-dark;
  box-shadow: none;
  transition: $transition;
}
