.message {
  background-color: whitesmoke;
  border-radius: $border-radius;
  font-size: $font-size;

  .message-body {
    border-color: #dbdbdb;
    border-radius: $border-radius;
    border-style: solid;
    border-width: 0 0 0 4px;
    color: #4a4a4a;
    padding: 1.25em 1.5em;
  }
}
